mixin footer
    .footer
        .footer__wrapper
            .container
                .footer__content
                    .footer__content--section
                        img.footer__image(src="./img/Group2.png", alt="")
                        a.footer__subtitle.footer__subtitle--first(href="#") Угода користувача
                        a.footer__subtitle.footer__subtitle--next(href="#") Політика конфіденційності
                    .footer__content--section2
                        h6.footer__title Компания
                        a.footer__subtitle(href="#") Послуги
                        a.footer__subtitle.footer__subtitle--next(href="#") Про компанію
                        a.footer__subtitle.footer__subtitle--next(href="#") Партнери
                        a.footer__subtitle.footer__subtitle--next(href="#") Контакти
                    .footer__content--section3
                        h6.footer__title Мы в соцсетях
                        a.footer__link(href="#")
                            i.fab.fa-facebook-f
                        a.footer__link(href="#")
                            i.fab.fa-instagram
    .copy
        p.copy__text &copy; 2020 European Data Center