.services {
  &__title {
    margin: 0;
    margin-top: -52px;
    font-family: "Roboto";
    font-style: normal;
    font-weight: 900;
    font-size: 32px;
    line-height: 48px;
    text-align: center;
    text-transform: uppercase;
    color: #232323;
  }
  &__content-picture--adaptive{
    display: none;
  }
  &__content {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    margin-left: -15px;
    grid-gap: 30px;
    margin-top: 63px;
    margin-bottom: 117px;
    &-title {
      font-family: "Roboto";
      font-style: normal;
      font-weight: bold;
      font-size: 24px;
      line-height: 36px;
      text-transform: uppercase;
      color: #232323;
      margin-bottom: 9.5px;
    }
    &-subtitle {
      font-family: "Roboto";
      font-style: normal;
      font-weight: normal;
      font-size: 16px;
      line-height: 24px;
      color: #232323;
      margin: 0;
    }
  }
}
@media(max-width: 1200px){
  .services{
    &__title{
      display: none;
    }
    &__content{
      display: grid;
      grid-template-columns: 1fr 1fr 1fr;
    }
    &__content-picture{
      display: none;
    }
    &__content-picture--adaptive{
      width: 100%;
      display: block;
    }
  }
}
@media(max-width: 992px){
  .services{
    &__title{
      display: none;
    }
    &__content{
      display: grid;
      grid-template-columns: 1fr 1fr 1fr;
      padding-left: 15px;
    }
    &__content-picture{
      display: none;
    }
    &__content-picture--adaptive{
      width: 100%;
      display: block;
    }
  }
}
@media(max-width: 576px){
  .services{
    &__title{
      display: none;
    }
    &__content{
      display: grid;
      grid-template-columns: 1fr;
    }
    &__content-picture{
      display: none;
    }
    &__content-picture--adaptive{
      width: 100%;
      display: block;
    }
  }
}