mixin header
    .header
        p.header__text Ми об’єднали в собі компетенції необхідні для побудови, експлуатації та підтримки хмарних центрів обробки даних (ЦОД) і всього, що пов'язано із забезпеченням безперервності роботи ІТ інфраструктури.
        img.header__image(src="./img/illustrations-04 1.jpg", alt="")